:root {
    --bgColor1: rgb(28, 28, 33);
    --bgColor2: rgb(62, 62, 62);
    --borderColor1: rgb(115, 115, 115);

    --textColor1: rgb(240, 240, 240);
    --textColor2: rgb(169, 169, 169);

    --primaryColor: rgb(255, 0, 128);
    --primaryColorLight: rgb(255, 83, 169);
}
body {
    display: flex;
    min-height: 100vh;
}

.panelLeft {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 3;
    flex-shrink: 10;
    background: url(cheng-feng.jpg);
    background-size: cover;
    background-position: top;
    color: var(--textColor2);
    overflow: hidden;
}
.credits {
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    color: var(--textColor2);
    font-family: sans-serif;
    font-size: 16px;
}
.credits a {
    color: var(--textColor2);
}

.panelRight {
    flex-grow: 2;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--bgColor1);
    font-family: sans-serif;
    color: var(--textColor1);
}
.panelRight .container {
    width: min(100%, 800px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    background: var(--bgColor1);
    height: 100%;
}
.title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
form {
    flex: 1;
}
h1 {
    font-size: 50px;
    margin-top: 125px;
}
h2 {
    margin-bottom: 30px;
}

.sub-form {
    display: flex;
    flex-wrap: wrap;
}
.form-item {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    padding: 20px;
}
label {
    font-size: smaller;
    color: var(--textColor2);
    margin-bottom: 4px;
}
.required::after {
    color: var(--primaryColor);
    font-size: 20px;
    content: "*";
    position: absolute;
    top: 15px;
}
input,
button {
    color: white;
    border-radius: 5px;
    padding: 15px;
}
input {
    font-size: 25px;
    border: 1px solid var(--borderColor1);
    width: 100%;
    background-color: var(--bgColor2);
    color: var(--textColor1);
}
input:focus {
    outline: 0;
    background-color: rgb(85, 85, 85);
}
input:invalid {
    border: 1px solid var(--primaryColor);
}
input:-webkit-autofill {
    -webkit-text-fill-color: var(--textColor1);
    -webkit-box-shadow: 0 0 0 40px var(--bgColor2) inset !important;
}
input:placeholder-shown {
    border: 1px solid var(--borderColor1);
}
button {
    align-self: center;
    padding: 15px;
    font-weight: bolder;
    font-size: 25px;
    min-width: 300px;
    border: none;
    background-color: var(--primaryColor);
}
button:hover {
    background-color: var(--primaryColorLight);
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 10px;
    color: var(--textColor2);
}
footer a {
    color: var(--textColor2);
}
